.btn-primary{

    background:var(--primary);
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;

}

.btn-primary:hover{

    background:#1D4ED8;

}